body {
  background-color: #403c3c;
  color: #0a1520;
  font-family: 'Agency FB', sans-serif;
  text-align: center;
}

.level1-container {
  width: 900px;
  height: 500px;
  border: 1px solid black;
  background-image: url(https://i.imgur.com/dVp4MNX.png);
  margin: auto;
  /* padding-top: 25px; */
  /* padding-bottom: 25px; */
}

.shop-container {
  width: 900px;
  height: 500px;
  border: 1px solid black;
  background-image: url("shop.png");
  margin: auto;
}

.floor {
  width: 100%;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 500px;
}

.character {
  position: relative;
  top: 200px;
  z-index: 1;
  left: -375px;
  transform: scale(0.5);
  /* transform: scaleX(1) */
}


.test-container {
  width: 900px;
  height: 500px;
  border: 1px solid black;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2015/07/tumblr_nmvrs6ubl71qze3hdo1_r1_500.gif);
  background-repeat: no-repeat;
  background-size:cover;
  margin: auto;
  /* padding-top: 25px; */
  /* padding-bottom: 25px; */
}

.east-container {
  width: 900px;
  height: 500px;
  border: 1px solid black;
  background-image: url(https://wallpapercave.com/wp/wp9657802.gif);
  background-repeat: no-repeat;
  background-size:cover;
  margin: auto;
}


.character2 {
  position: relative;
  top: 200px;
  z-index: 1;
  left: -375px;
  transform: scale(0.95);
  /* transform: scaleX(1) */
}

.east2-container {
  width: 900px;
  height: 500px;
  border: 1px solid black;
  background-image: url(https://wallpaperaccess.com/full/2825801.gif);
  background-repeat: no-repeat;
  background-size:cover;
  margin: auto;
}

.clown {
  src: url(https://www.pikpng.com/pngl/b/496-4965357_random-image-from-user-8-bit-character-png.png);
  position: relative;
  top: 200px;
  z-index: 1;
  left: -375px;
  transform: scale(0.40);
}