body {
  background-color: #403c3c;
  color: #0a1520;
  font-family: 'Agency FB', sans-serif;
  text-align: center;
}

.level1-container {
  width: 900px;
  height: 500px;
  border: 1px solid black;
  background-image: url(https://i.imgur.com/dVp4MNX.png);
  margin: auto;
  /* padding-top: 25px; */
  /* padding-bottom: 25px; */
}

.floor {
  width: 100%;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 500px;
}

.character {
  position: relative;
  top: 200px;
  z-index: 1;
  left: -375px;
  transform: scale(0.5);
}